* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background-image: url('images/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero {
    color: #fff;
}



/* About Section */
.headings {
    text-align: center;
    padding: 2%;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
}
.about {
    background-color: aqua;
    width: 100%;
}
.profile-image {
    margin: 20px;
    border: 5px solid ;
    height: 450px;
   width: 100%;
}






/* Footer Section */
#footer {
  color: #fff;
  text-align: center;
  background-color: rgb(67, 7, 82);
}
a {
  text-decoration: none;
  color: #fff;
}
.icons {
  padding: 3%;
  letter-spacing: 0.3em;
  font-size: 25px;
}
.footer-icon {
  transition: transform 0.2s;
}
.footer-icon:hover {
  transform: scale(1.5);
}
b {
  font-size: 1.25rem;
}
b:hover {
  color: yellow;
  text-decoration: inherit;
}

.copy-rights {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.footer-text {
  padding-bottom: 20px;
}
